/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4CAF50;
}

.counter {
    background-image: = url:"animation1. gif";
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #ffffff;
    width: 300px;
    text-align: center;
}

.btn, #purchase-miner {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover, #purchase-miner:hover {
    background-color: #45a049;
}

#purchase-miner {
    background-color: #f44336;
}

#purchase-miner:hover {
    background-color: #e53935;
}